db.sqlite3
.vscode
.env
.venv
venv/
ENV/
env/
# media/

/media/shop/item
**/media/shop/item/**



migrations
migrations/
**/migrations/
**/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__
__pycache__/
**/__pycache__/**
!**/__pycache__
*.pyc
.pyc 

static_root/

node_modules


